
.playbutton{
   background-color: #9ec2e0;
   height: 45px;
   border: 0px;
   color: #fff;
   font-size: 20px;
   border-radius: 10px;
   cursor: pointer;
}

.tonic{
   transform: translate(-160px, 20px);
   visibility: visible;
}

.tonicHidden{
   visibility: hidden;
}

.play{
   transform: translate(-150px, 20px);
}

.play2{
   transform: translate(-210px, 20px);
}

.stop{
   transform: translate(-140px, 20px);
}

.stop2{
   transform: translate(-200px, 20px);
}


.update{
   transform: translate(170px, 20px);
}

.solfege{
   transform: translate(-10px, 30px);
   height: 35px;
}

.instrument {
   transform: translate(-10px, 30px);
   height: 35px;
   border: 2px solid #9ec2e0;
   background-color: #e5e5e5;
   color: #9ec2e0;
}

.btnSetTimeSignature{
   background-color: #919191;
   font-family: MusiSync;
   font-size: 35px;
   padding: 0px 5px;
   border: 0px solid #000;
   cursor: pointer;
   margin: 0px 5px;
   /* height: 45px;
   border: 0px;
   color: #fff;
   font-size: 40px;
   padding: 5px;
   cursor: pointer;
   vertical-align: super; */
}

.btnSetMeasure{
   background-color: #919191;
   font-size: 20px;
   padding: 5px 10px;
   border: 0px solid #000;
   cursor: pointer;
   margin: 0px 5px;
}