/* This files formats all the images */

.imgRhythm{
   width: 250px;
   transform: translate(58px, 30px);
   cursor: pointer;
}

.imgPitch{
   width: 250px;
   transform: translate(-58px, 30px);
   cursor: pointer;
}

.indexRhythm:hover {
   opacity: 0.5;
   filter: alpha(opacity=40);
}

.imgHome{
   width: 140px;
   transform: translate(0px, 20px);
   cursor: pointer;
}

.imgBack{
   width: 140px;
   transform: translate(0px, -40px);
   cursor: pointer;
}

.imgPitchIndex{
   width: 150px;
}

.imgRhythmIndex{
   width: 150px;
  
}

/* Rymthm Images */
.imgRhythmButtons{
   width: 175px;
   cursor: pointer;
}

.imgRhythmSimple{
   width: 350px;
   transform: translate(3px, -30px);

}
.imgRhythmCompound{
   width: 500px;
   transform: translate(-70px, -80px);
}

.imgPitches{
   width: 200px;
   cursor: pointer;
}

.pitch1{
   transform: translate(0px, 0px);
}

.pitch2{
   transform: translate(40px, -50px);
}

.pitch3{
   transform: translate(-80px, 50px);
}

.pitch4{
   transform: translate(-40px, 0px);
}