@import url("gridSetups.css");
@import url("images.css");
@import url("grid3rdLevel.css");


@font-face {
  font-family: 'AvenirNextCondensed-Regular';
  src: url('../fonts/AvenirNextCondensed-Regular.ttf') format('truetype');
 }

body {
  font-family: AvenirNextCondensed-Regular;
}


.linksTrans {
    font-size: 40px;
}

html {
    text-align: center;
}

/* @media only screen and (orientation:landscape){
        body {
          height: 100vw;
          transform: rotate(90deg);
        }
      } */